// ————————————————————————————————
// MEDIA QUERIES

//~~~~~~~~~~~~~~~~~~~ 1200px
@media (max-width: 1200px) {
  #header {
    li {
      padding-top: 26px;
    }
    .menu-nav a {
      font-size: 18px;
      padding: 0 8px 28px;
    }
    .sub-menu li a {
      font-size: 18px;
    }
  }  
  #hero .hero-caption h1 {
    font-size: 74px;
    line-height: 74px;
  }
  #cat-drops {
    .icon {
      width: 40px;
      height: 40px;
    }
    a {
      padding: 20px 27px 17px 17px;
      &:hover p {
        bottom: 14px;
      }
    }
    p {
      font-size: 20px;
      bottom: 11px;      
    }
  }
  #companies {
    a {
      height: 250px;
    }
    img {
      padding-left: 20px;
      padding-right: 20px;
    }
    .owl-prev {
      left: -55px;
    }.owl-next {
      right: -55px;
    }
  }
  #locations {
    .locations {
      a {
        font-size: 16px;
      }
      .loc-w {
        width: 270px;
      }      
    }
  }
  #content-area .sidebar {
    width: 25%;
    margin-left: 5%;
  }
  // Bootstrap Grid
	.container {
		width: 960px;
	}
	// END Bootstrap Grid
}

//~~~~~~~~~~~~~~~~~~~ 1060px
@media (max-width: 1060px) {
  #companies {
    .owl-nav {
      position: relative;
      top: initial;
      bottom: -40px;
      display: none;
    }
    .owl-prev {
      left: 0px;
    }
    .owl-next {
      right: 0px;
    }
  }
}

//~~~~~~~~~~~~~~~~~~~ 992px
@media (max-width: 992px) {
  h2 {
    font-size: 26px;
  }
  p {
    font-size: 18px;
    line-height: 28px;
  }
  .left {
    width: 100%;
    padding: 0;
  }
  .right {
    width: 100%;
    padding: 0;
  }
  .desktop-nav {
    display: none;
  }
  #header {
    .mobile-nav-wrapper {
      display: inline-block;
      float: right;
      position: relative;
      height: 83px;
      a {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 14px; 
        display: inline-block;        
      }
      .navicon {
        display: inline-block;
        float: right;
        color: #fff;
        font-size: 30px;
        position: relative;
        padding: 19px 0;
        cursor: pointer;
      }
    }
    .search-open {
      width: 22px;
      position: relative;
      top: 3px;
    }
    .mobile-nav {
      @include trans();
      position: fixed;
      z-index: 999;
      width: 250px;
      height: 100%;
      top: 0;
      right: -250px;
      background: $color-main;
      border-left: 6px solid #aaa;
      display: inline-block;        
      li {
        padding: 0;
        display: block;
        border-bottom: 2px solid #aaa;
        &:first-child {
          border-bottom: 6px solid #aaa;
        }
        &:last-child {
          border-bottom: 0;
        }
        a {
          padding: 20px 0 20px 20px;
          margin: 0;
          width: 100%;
          &:hover:after {
            border-left: 0px;
            border-right: 0px;
            border-bottom: 0px;
            bottom: 0px;
            content: " ";
            height: 0;
            left: 50%;
            margin-left: -20px;
            position: absolute;
            width: 0;
          }
          .icon {
            width: 30px;
            height: 30px;
          }            
        }
        a.close {
          padding: 23px 0 23px 15px;
        }
      }
    }
  }
  #hero .hero-caption h1 {
    font-size: 54px;
    line-height: 54px;
  }
  #banner .banner-caption h1 {
    font-size: 50px;
  }
  #cat-drops { 
    .icon {
      width: 30px;
      height: 30px;
    }
    a {
      padding: 16px 27px 8px 22px;
      text-align: center;
      margin: 0;
    }
    p {
      width: 100%;
      margin-top: 8px;
      font-size: 20px;
      padding: 0;
    }
  }
  #companies {
    padding: 80px 0 100px;
  }
  #about {
    padding: 80px 0;
    .left {
      display: none;
    }
    .right {
      margin-bottom: 60px;
    }
    .left-under {
      display: inline-block;
      width: 100%;
      text-align: center;
      img {
        max-width: 500px;
        margin: 0 auto;
      }
    }
  }
  #mission {
    h2 {
      margin-bottom: 26px;
    }
  }
  #content-area .content {
    width: 100%;
  }
  #content-area .sidebar {
    width: 300px;
    margin: 0 auto;
    position: relative;
    float: left;
    // transform: translateX(-50%);
    // left: 50%;
  }
  .owl-sidebar, h3.no-margin {
    display: none !important;
  }
  #content-area .sidebar ul {
    margin-bottom: 0px;
  }
  .tablet-carousel {
    display: block !important;
    text-align: center;
    width: 300px;
    border: 6px solid #ddd;
    float: right;
    position: relative;
    padding: 26px;
    .owl-carousel .owl-item img {
      width: 240px;
      margin-bottom: 30px;
    }
    h3 {
      font-size: 26px;
      padding-bottom: 10px;
      margin-bottom: 54px;
      border-bottom: 2px solid #eb3d3a;
    }
  }
  
  // footer
  #locations {
    padding: 0;
    .locations {
      width: 100%;
      padding: 40px 0;
      a {
        font-size: 18px;
      }
      .loc-w {
        width: auto;
      }
      .phone {
        float: right;
      }
    }
    .map {
      border-top: 3px solid $color-main;
      position: relative;
      width: 100%;
      height: 300px;
    }
  }
  #content-area p:first-child {
    padding: 60px 0 14px;
  }
  #content-area p:last-child {
    padding: 14px 0 100px;
  }
  #footer {
    .copyright {
      p {
        line-height: 20px;
      }
    }
    .emergency h4 {
      font-size: 14px;
    }
  }
  .credit {
    display: inline-block;
    width: 100%;
    border-left: 0 solid #fff;
    margin-left: 0;
    padding-left: 0;
  }
  // Bootstrap Grid
	.container {
		width: 720px;
	}
	// END Bootstrap Grid
}

//~~~~~~~~~~~~~~~~~~~ 768px
@media (max-width: 768px) {
  h2 {
    font-size: 22px;
  }
  .header-fill {
    height: 73px;
  }
  #header {
    img {
      width: 220px;
    }
    .mobile-nav-wrapper {
      height: 67px;
      a {
        top: 51%;
      }
      .navicon {
        padding: 11px 0;
      }
    }
    .mobile-nav li a.close {
      padding: 15px 0 15px 15px;
    }
  }
  .sub-menu {
    top: 73px;
  }
  #hero .hero-caption h1 {
    font-size: 40px;
    line-height: 40px;
  }
  #hero img {
    top: 73px;
  }
  #banner img {
    top: 73px;
  }

  #banner .banner-caption h1 {
    font-size: 34px;
  }
  #cat-drops {
    ul {
      overflow: hidden;
      height: 77px;
    }
    a {
      padding: 10px 19px 0px 10px;
      &:hover:after {
        border-left: solid transparent 0px;
        border-right: solid transparent 0px;
        border-bottom: solid $color-2 0px;      
      }
      &:hover svg {
        bottom: 0px;      
      }
      &:hover p {
        bottom: 11px;        
      }
    }
    .icon {
      width: 30px;
      height: 30px;
    }
    p {
      font-size: 14px;
      margin-top: 6px;
    }
  }
  #about {
    padding: 60px 0;
  }
  #mission {
    .content {
      max-width: 540px;
    }
  }
  #companies {
    padding: 60px 0 80px;
    a {
      height: 190px;
      &:hover:after {
        border-left: solid transparent 0px;
        border-right: solid transparent 0px;
        border-bottom: solid $color-2 0px;      
      }
      &:hover img {
        top: 50%;
      }
    }
  }
  #locations {
    .map {
      height: 200px;
    }
  }

  #content-area {
    padding: 60px 0 80px 0;
  }
  #content-area .content p {
    font-size: 16px;
    line-height: 28px;
  }
  .owl-sidebar, h3.no-margin {
    display: block !important;
  }
  .tablet-carousel {
    display: none !important;
  }
  #content-area .sidebar {
    transform: translateX(-50%);
    left: 50%;
  }
  #content-area .sidebar ul {
    margin-bottom: 70px;
  }
  #content-area .sidebar .owl-sidebar {
    margin-top: 18px;
  }

  #footer {
    .wrapper {
      padding: 40px 0;
    }
    .emergency {
      position: relative;
      left: inherit;
      top: inherit;
      transform: none;
      text-align: inherit;
      width: 100%;
    }
    .social-mobile {
      position: relative;
      display: inline-block;
      margin-top: 50px;
      left: inherit;
      top: inherit;
      transform: none;
      text-align: inherit;
      width: 100%;
      li:last-child {
        margin-right: 12px;
      }
    }
    .copyright {
      width: 100%;
      margin-top: 50px;
    }
    .social {
      display: none;
    }    
  }
  .credit {
    width: auto;
    border-left: 1px solid #fff;
    margin-left: 7px;
    padding-left: 7px;
  }
  // Bootstrap Grid
	.container {
		width: 540px;
	}
	// END Bootstrap Grid
}

//~~~~~~~~~~~~~~~~~~~ 576px
@media (max-width: 576px) {
  h2 {
    font-size: 20px;
    line-height: 24px;
  }
  h3 {
    font-size: 20px;
    line-height: 22px;
  }
  p {
    font-size: 14px;
    line-height: 24px;
  }
  input.search-field {
    width: 300px;
  }
  #hero .hero-caption h1 {
    font-size: 32px;
    line-height: 32px;
  }

  #banner .banner-caption h1 {
    font-size: 26px;
  }
  #cat-drops {
    ul {
      height: 70px;
      text-align: center;
    }
    a {
      padding: 10px 8px 0 4px;      
    }
    .icon {
      width: 24px;
      height: 24px;
    }
  }
  #about {
    padding: 40px 0;
    h2 {
      margin-bottom: 20px;
    }
    .right {
      margin-bottom: 40px;
    }
  }
  #mission {
    .content {
      width: 100%;
      padding: 40px 30px 50px 24px;
    }
  }
  #companies a {
    height: 164px;
  }
  #companies img {
    top: 0;
  }
  #locations .locations a {
    font-size: 14px;
  }

  #content-area p:first-child {
    padding: 40px 0 14px;
  }
  #content-area p:last-child {
    padding: 14px 0 80px;
  }
  // Bootstrap Grid  
  .container {
		width: auto;
	}
	// END Bootstrap Grid
}

//~~~~~~~~~~~~~~~~~~~ 460px
@media (max-width: 460px) {
  input.search-field {
    width: 200px;
  }
  #hero .hero-caption h1 {
    font-size: 28px;
    line-height: 28px;
  }

  #banner .banner-caption h1 {
    font-size: 18px;
  }
  #cat-drops {
    background: #fff;
    border: none;
    padding-top: 20px;
    ul {
      height: auto;
    }
    .section {
      width: 100%;
    }
    li {
      border-right: none;
    }
    a {      
      width: 100%;
      background: #ddd;
      margin-bottom: 10px;
    }
    p {
      width: auto;
      margin: 0 0 0 10px;
      position: relative;
      transform: translateY(25%);
    }
  }
  #companies {
    padding: 40px 0 60px;
  }
}

//~~~~~~~~~~~~~~~~~~~ 420px
@media (max-width: 420px) {
  #header img {
    width: 180px;
  }
  #hero .hero-caption h1 {
    font-size: 21px;
    line-height: 21px;
  }
  // footer
  #locations .locations {
    li {
      overflow: hidden;
    }
    a {
      width: 100%;
      line-height: 26px;
    }
  }
  .credit {
    width: 100%;
    border-left: 0px solid #fff;
    margin-left: 0;
    padding-left: 0;
  }
}