// COLORS
$color-main: #0A56A1;
$color-2: #eb3d3a;
$color-2-lt: #e65e5c;

// FONTS
$font-1: 'Roboto', Helvetica, sans-serif;
$font-2: 'Roboto Condensed', Helvetica, sans-serif;

// FONT SIZE
$ft-sz-h2: 30px;
$ft-sz-nav: 20px;